.img-overlay {
	display: none;
	position: fixed;
	inset: 0;
	cursor: pointer;
	background: rgb(0 0 0 / 18%);
	backdrop-filter: blur(10px);

	display: flex;
	align-items: center;
	justify-content: center;

	opacity: 0;
	pointer-events: none;
	transition: opacity 200ms ease;
}

.img-overlay.show {
	opacity: 1;
	pointer-events: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.img-overlay.show body {
	overflow: hidden;
}

.img-overlay img {
	max-width: 90%;
	max-height: 90%;
	transform: scale(0.9);
	transition: transform 200ms ease;
}

.img-overlay.show img {
	transform: scale(1);
}

body.no-scroll {
  overflow: hidden;
}